/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                    /* UNIVERSAL*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

*, *::before, *::after {

                         box-sizing: border-box;
                         margin: 0;
                         padding: 0;
                         font-family: 'Noticia Text', 'Courier New', Courier, monospace;
                         list-style: none;
                         text-decoration: none;
                         
                       }

main, section{
    border-radius: 2rem;
    padding: 2rem;
}


body {
        width: 100%;
        height: auto;
        background-color: rgb(205, 144, 100);
        padding: 0px;
        border: 10px black solid;
        /*background-image: url('../images/wood.jpg');*/
        /*background-attachment: fixed;*/
     }

header {
            background-color: burlywood;
            width: 100%;
            height: auto;
            margin: 0;
       }

.menu {
        flex-basis: 800px;
      }


footer ul {
            display: flex;
            justify-content: space-evenly;
            /*gap: 5%;*/
            padding: 0.5rem;
            background-color: burlywood;
            width: 100%;
            height: auto;
            margin: 0;
          }

p {
    line-height: 1.5;
  }


button, input, select, textarea {
                                    font-family: inherit;
                                    font-size: 100%;
                                    padding: 0.5rem;
                                }


textarea {
            overflow: auto;
         }

nav, nav ul {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                /*gap: 5%;*/
               /* flex: 1*/
            }


nav, nav ul li {
                    padding: 0.5rem;
                    /*margin: 0.3rem;*/
               }  
               


/*Fonts: 'Cinzel Decorative', 'IM Fell DW Pica SC', 'IM Fell DW Pica', 'Noticia Text'*/

h1, h2, h3{
            font-family:'Cinzel Decorative' ,'IM Fell DW Pica SC','Courier New', Courier, monospace ;
          }

p {
    font-family: 'IM Fell DW Pica', 'Courier New', Courier, monospace;
}

.borrow, .lend,.buy, .sell {

    display: grid;
    grid-template-columns:30% 70%;
    height: 90vh;
    margin-left: 1rem;
}

.actions{
    background-color: aqua;
    margin: 1rem;

}

.details{
    background-color: blueviolet ;
    margin: 1rem;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*INDEX PAGE*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.home {

    display: grid;
    grid-template-rows:650px 450px;
}

.hero {
    background-color: darkorange;
    margin: 1rem 1rem;
}

.categories ul {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    
    margin: 0.5rem 0.5rem;
    height: 95%;
}

.categories li {
background-color: coral;
margin: 0.5rem 0.5rem;
}

.categoryH {
    text-align: center;
    margin-top: 10%;
    background-color: antiquewhite;
}

.cover {
margin-left: 10%;
margin-top: 10%;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*BORROW*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*LEND*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*BUY*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*SELL*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*COMMUNITY*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.community{
    display: grid;
}

.reviews{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: aqua;
    margin: 1rem;
}

.clubs{
    grid-column: 2;
    grid-row: 1;
    background-color: blue;
    margin: 1rem;
}

.threads{
    grid-column: 2;
    grid-row: 2;
    background-color: blueviolet;
    margin: 1rem;
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*ACCOUNT*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

.account{
    background-color: aqua;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    min-height: 80vh;
    max-height: auto;
}
/*Profile*/



/*Transaction History*/

table {
        table-layout: fixed;
        width: 90%;
        margin: 10px auto;
        border: 2px black solid;
        border-collapse: collapse;
      }

th, td {
         padding: 0.3em;
         border: 1px black solid;
         text-align: left;
         vertical-align: top;
       }

/*Settings*/



/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*BOOKS BY CATEGORIES*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*REVIEWS*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*ACCOUNT*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/













