/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                    /* UNIVERSAL*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

*, *::before, *::after {

                         box-sizing: border-box;
                         margin: 0;
                         padding: 0;
                         font-family: 'Noticia Text', 'Courier New', Courier, monospace;
                         list-style: none;
                         text-decoration: none;
                         
                       }

                       
body {
    width: 100%;
    height: auto;
    background-color: aqua;
    padding: 20px;
    border: 10px black solid;
}

/*nav{
    position: fixed;
}*/


p {
    line-height: 1.5;
  }


button, input, select, textarea {
                                    font-family: inherit;
                                    font-size: 100%;
                                    padding: 0.5rem;
                                }


textarea {
            overflow: auto;
         }

nav, nav ul {
                display: flex;
                /*gap: 5%;*/
               /* flex: 1*/
            }

nav, nav ul li {
                    padding: 0.5rem;
                    /*margin: 0.3rem;*/
               }  
               
footer ul {
    display: flex;
    gap: 5%;
    padding: 0.5rem;
}

/*Fonts: 'Cinzel Decorative', 'IM Fell DW Pica SC', 'IM Fell DW Pica', 'Noticia Text'*/

h1, h2, h3{
    font-family:'Cinzel Decorative' ,'IM Fell DW Pica SC','Courier New', Courier, monospace ;
}

p {
    font-family: 'IM Fell DW Pica', 'Courier New', Courier, monospace;
}




/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*INDEX*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*BORROW*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*LEND*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*BUY*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                            /*SELL*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*COMMUNITY*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*ACCOUNT*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*Profile*/



/*Transaction History*/

table {
        table-layout: fixed;
        width: 90%;
        margin: 10px auto;
        border: 2px black solid;
        border-collapse: collapse;
      }

th, td {
         padding: 0.3em;
         border: 1px black solid;
         text-align: left;
         vertical-align: top;
       }

/*Settings*/



/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*BOOKS BY CATEGORIES*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*REVIEWS*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
                                                        /*ACCOUNT*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/













